<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework Practice">

   <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="com.infofactors.listeners.CustomListeners"/>
       </listeners>


  <test name="Bank Manager LoginTest">
    <classes>
      <class name="com.infofactors.testcaes.BankManagerLoginTest"/>
    </classes>
  </test><!-- Test -->
  
   <test name="Add Customer Test">
    <classes>
      <class name="com.infofactors.testcaes.AddCustomerTest"/>
    </classes>
  </test><!-- Test -->
  
   <test name="Open Account Test">
    <classes>
      <class name="com.infofactors.testcaes.OpenAccountTest"/>
    </classes>
  </test><!-- Test -->
  
 
</suite> <!-- Suite -->
